# Root folders and files
bin/

msbuild_location.config


## Lib
lib/JNI
lib/Logitech\ ArxControl\ SDK
lib/Logitech\ Gkey\ SDK
lib/Logitech\ LCD\ SDK
lib/Logitech\ LED\ SDK
lib/Logitech\ Steering\ Wheel\ SDK

## Visual Studio
*.suo
*.user
*.obj
*.opensdf
*.sdf

## Visual Studio back-end
JLAW\ back/[Dd]ebug
JLAW\ back/[Rr]elease
JLAW\ back/x64
JLAW\ back/JLAW\ back/[Dd]ebug
JLAW\ back/JLAW\ back/[Rr]elease
JLAW\ back/JLAW\ back/x64

## Eclipse front-end
JLAW\ front/target
JLAW\ front/.settings
JLAW\ front/.classpath
JLAW\ front/.project

## Eclipse test
JLAW\ test/target
JLAW\ test/src/main/resources/natives/*
JLAW\ test/.settings
JLAW\ test/.classpath
JLAW\ test/.project
